// start global rules and vars
$textColor: #949494;
$closeBg: #f93154;
$mainColor: #d7aa2e;
//modal
#forgetModalCenter {
    padding: 0 !important;
}

.main-button {
    background-color: $mainColor;
    border-color: $mainColor;
    color: #fff;
    transition: 0.3s;
    &:hover {
        background-color: transparent;
        border-color: $mainColor;
        color: $mainColor;
    }
}

//close button for modal
.close {
    background-color: $closeBg !important;
    margin-right: 0px !important;
    padding: 5px 10px !important;
    opacity: 1;
    color: #fff !important;
    border-radius: 5px;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Bold.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-SemiBold.ttf) format("truetype");
    font-weight: 600;
}

body {
    font-family: "Open Sans" !important;
    font-weight: normal !important;
}

.panel {
    p {
        font-size: 13px;
    }
}

.form-outline .form-control:focus~.form-notch .form-notch-trailing {
    border-radius: 0 !important;
}

.form-outline .form-control~.form-notch .form-notch-trailing {
    border-radius: 0 !important;
}

.form-outline .form-control:focus~.form-notch .form-notch-leading {
    border-top: 0.125rem solid #d7aa2e;
    border-bottom: 0.125rem solid #d7aa2e;
    border-left: 0.125rem solid #d7aa2e;
}

.form-outline .form-control:focus~.form-notch .form-notch-middle {
    border-bottom: 0.125rem solid;
    border-color: #d7aa2e;
}

.form-outline .form-control:focus~.form-notch .form-notch-trailing {
    border-top: 0.125rem solid #d7aa2e;
    border-bottom: 0.125rem solid #d7aa2e;
    border-right: 0.125rem solid #d7aa2e;
}

.form-outline .form-control:focus~.form-label {
    color: #d7aa2e;
}

.custom-select:focus {
    border-color: #d7aa2e;
    outline: 0;
    box-shadow: none !important;
}

///////////////// end global rules
// start login
.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .form-holder {
        .login-form {
            width: 40%;
            margin: auto;
            padding: 50px 30px;
            box-shadow: 0 0 5px #ccc;
            border-radius: 5px;
            @media (max-width: 767px) {
                width: 60%;
            }
            border-radius: 5px;
            @media (max-width: 425px) {
                width: 90%;
            }
            h5 {
                text-align: center;
                margin-bottom: 32px;
            }
            .form-outline {
                margin-bottom: 24px;
                .form-label {
                    font-size: 13px;
                    color: $textColor;
                    i {
                        margin-right: 5px;
                    }
                }
            }
            .forgot {
                text-align: center;
                margin-bottom: 24px;
                a {
                    text-decoration: none;
                    text-align: center;
                    color: $textColor;
                    font-size: 13px;
                }
            }
            button {
                i {
                    margin-right: 5px;
                }
            }
        }
    }
}

// start dashbord
.dashbord {
    display: flex;
    .dash-link {
        flex-basis: 20%;
        max-width: 100%;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 16px 38px -12px, rgba(0, 0, 0, 0.12) 0px 4px 25px 0px, rgba(0, 0, 0, 0.2) 0px 8px 10px -5px;
        height: auto;
        .heading {
            h5 {
                padding: 20px 0;
                color: $mainColor;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    right: 15px;
                    height: 1px;
                    width: calc(100% - 30px);
                    background-color: rgba(180, 180, 180, 0.3);
                }
            }
        }
        // links
        .links {
            ul {
                li {
                    a {
                        color: rgb(60, 72, 88);
                        text-transform: capitalize;
                        font-size: 13px;
                        margin: 10px 15px 0px;
                        border-radius: 3px;
                        padding: 10px 15px;
                        display: block;
                        text-decoration: none;
                        font-weight: bold;
                        i {
                            font-size: 20px;
                            margin-right: 10px;
                            line-height: 25px;
                            width: 25px;
                            text-align: center;
                            color: #a9afbb;
                        }
                    }
                }
                li.active {
                    a {
                        background-color: $mainColor;
                        color: #fff;
                        box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 20px 0px, rgba(156, 39, 176, 0.4) 0px 7px 10px -5px;
                        i {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .dash-content {
        flex-basis: 80%;
        max-width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.01);
        padding: 30px 20px;
        .orders {
            .order-filter {
                h4 {
                    font-size: 20px;
                    margin-bottom: 24px;
                    color: $mainColor;
                }
                // srearch bar
                .search-bar {
                    .form-outline {
                        flex-basis: 90%;
                        input {
                            border-radius: 5px 0 0 5px;
                        }
                    }
                    button {
                        border-radius: 0 5px 5px 0;
                        background-color: $mainColor;
                        border-color: $mainColor;
                        i {
                            margin-right: 5px;
                        }
                    }
                }
                //filter area
                .filtering {
                    padding: 20px;
                    box-shadow: 0 0 5px #ccc;
                    margin-top: 24px;
                    border-radius: 5px;
                    .filter-holder {
                        .form-group {
                            flex-basis: 50%;
                            //filter label
                            label {
                                margin-bottom: 5px;
                                font-weight: bold;
                                font-size: 13px;
                            }
                            // filter select box
                            select {
                                font-size: 13px;
                            }
                        }
                        .form-group:last-child {
                            margin-left: 10px;
                        }
                    }
                }
            }
            .table {
                font-size: 0.9rem;
                box-shadow: 0 0 5px #ccc;
                margin-top: 24px;
                border-radius: 5px;
                thead {
                    tr {
                        th {
                            border-right: 1px solid #ccc;
                            border-bottom: none;
                            text-align: center;
                            font: {
                                weight: bold;
                                size: 13px
                            }
                        }
                         :last-child {
                            border-right: none;
                        }
                    }
                }
                tbody {
                    th {
                        border-right: 1px solid #ccc;
                        color: $textColor;
                        text-align: center;
                        vertical-align: middle;
                    }
                    td {
                        border-right: 1px solid #ccc;
                        color: $textColor;
                        text-align: center;
                        vertical-align: middle;
                        a {
                            color: $mainColor
                        }
                        p {
                            margin: 0;
                            font-size: 13px;
                            color: $textColor;
                            margin-bottom: 8px;
                        }
                    }
                    .customer {
                        text-align: left;
                        i {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}

// order details 
.order-details {
    .rest-info {
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        box-shadow: 0 0 5px #ccc;
        border-radius: 5px;
        .rest-logo {
            img {
                width: 80px;
                object-fit: cover;
                margin-right: 10px;
                height: 80px;
            }
            .caption {
                h4 {
                    font-size: 15px;
                    font-weight: bold;
                }
                p {
                    margin: 0;
                    color: $textColor
                }
            }
        }
        .order-info {
            p {
                margin: 0;
                font-size: 13px;
                font-weight: bold;
                margin-bottom: 7px;
                span {
                    font-weight: normal;
                }
            }
        }
    }
    .user-order {
        flex-wrap: wrap;
        .second {
            margin-left: 2%;
        }
        .user-info {
            padding: 10px;
            box-shadow: 0 0 5px #ccc;
            border-radius: 5px;
            margin-top: 20px;
            flex-basis: 49%;
            max-width: 100%;
            h5 {
                border-bottom: 1px solid #ececec;
                padding-bottom: 7px;
            }
            div {
                padding: 10px 10px 0;
                p {
                    margin: 0 0 5px 0;
                    font-size: 13px;
                    font-weight: bold;
                    i {
                        margin-right: 5px;
                    }
                    span {
                        font-weight: normal;
                    }
                    .fa-user,
                    .fa-envelope-open {
                        font-weight: normal;
                    }
                    .fa-mobile-alt {
                        margin-right: 10px;
                    }
                }
            }
        }
        .my-order {
            flex-basis: 100%;
            max-width: 100%;
        }
    }
}